APP_NAME="NF Librería"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8001

APP_LOCALE=es
APP_FALLBACK_LOCALE=es

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=libreria_dusk
DB_USERNAME=libreria_dev
DB_PASSWORD=

SESSION_DRIVER=database

ADMIN_PASSWORD_INICIAL=
